<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security.xsd
                            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
                            http://www.springframework.org/schema/tx 
    						http://www.springframework.org/schema/tx/spring-tx.xsd">
    						
    			<security:global-method-security secured-annotations="enabled"/>			
    				<security:http auto-config="true" use-expressions="true">
    						<!-- Public Access -->
    						<security:intercept-url pattern="/" access="permitAll"/>
    						<security:intercept-url pattern="/resources/**" access="permitAll"/>
    						 <security:intercept-url pattern="/signin" access="permitAll"/>	
    						 <security:intercept-url pattern="/contact" access="permitAll"/>	
    						  <security:intercept-url pattern="/registration" access="permitAll"/>	
    						
    					<!-- restricted access -->
    						
    						<security:intercept-url pattern="/**" access="isAuthenticated()"/>
    						<security:intercept-url pattern="/dashboard" access="hasRole('ROLE_ADMIN')"/>	
    						<security:intercept-url pattern="/upload" access="hasRole('ROLE_USER','ROLE_ADMIN')"/>	
    						
    						<!-- login details -->
    						<security:form-login login-page="/signin" default-target-url="/" 
    						password-parameter="j_password"  username-parameter="j_username" authentication-failure-url="/signin?error=403"/>
    						
    						<!-- logout details -->
    						<security:logout invalidate-session="true" delete-cookies="true" logout-success-url="/" logout-url="/logout"/>
    						
    			</security:http>	
    			
    			<security:authentication-manager>
    			<security:authentication-provider>
    			<security:password-encoder hash="bcrypt"/>
    			<security:jdbc-user-service data-source-ref="datasource" users-by-username-query="select user_email , password, enabled from docxchange_user where user_email = ?"
    			authorities-by-username-query="select da.email_id as login, rur.user_role as role from docxchange_authorities da , ref_user_role rur where da.user_role_id = rur.id and da.email_id = ?"/>
    			</security:authentication-provider>
    			
    			
    			<security:authentication-provider>
    			
    			<security:user-service>
    			
    			<security:user name="jee.instruct@gmail.com" password="test1234"  authorities="ROLE_ADMIN"/>
    			</security:user-service>
    			</security:authentication-provider>
    			
    			
    			
    			</security:authentication-manager>		
    						
    						
    						
</beans>